.left {
    padding-left: 1.5vw;
    height: 10vh;
    background-image: linear-gradient(140deg, #FF171F 25%, #060000, #000000);
}

.rigth {
    display: flex;
    justify-content: end;
    height: 10vh;
    background-image: linear-gradient(-140deg, #0179F0 25%, #060000, #000000);
}

.image__marvel {
    height: 10vh;
}

.image__dc {
    height: 10vh;
}