header {
    height: 10vh;
    display: grid;
    grid-template-columns:
    50% 50%;
}

main {
    height: 80vh;
    display: grid;
    justify-items: center;
    background-color: #000;
}

footer {
    height: 10vh;
    display: grid;
    grid-template-columns:
    50% 50%;
}