.container-card-foto {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.foto {
    height: 45rem;
}

.container-card-status {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.card-status {
    width: 35rem;
    height: 45rem;
    background-color: red;
}