.container__card {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 12px;
    flex-wrap: wrap;
}

.card {
    width: 10rem;
    height: 15rem;
    background-color: blue;
}