.container-card-foto {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
}

.foto {
    height: 45rem;
}

.container-card-status {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
}

.card-status {
    width: 35rem;
    height: 45rem;
    border: 2px solid #fff;
    background-color: #000;
}

.teste {
    display: grid;
    grid-template-columns: 
    50% 50%;
}

.header-status {
    width: 100%;
    height: 8vh;
    display: grid;
    grid-template-columns: 
    25% 25% 25% 25%;
    background: red;
    border-bottom: 2px solid #fff;
}