header {
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(140deg, #0179F0 15%, #060000, #000000);
}

main {
    width: 100%;
    height: 80vh;
    background-color: black;
}

footer {
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(140deg, #0179F0 15%, #060000, #000000);
}